################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/uninfe/v15
/MetroFramework
/NFe.Certificado/obj/Debug
/NFe.Certificado/bin/Release
/NFe.Certificado
/NFe.Components/obj/Debug/NFe.Components.pdb
/NFe.Components/obj/Debug/NFe.Components.dll
/NFe.Components/obj/Debug/NFe.Components.csproj.FileListAbsolute.txt
/NFe.Components/obj/Debug/NFe.Components.csproj.CopyComplete
/NFe.Components/bin/Release/NFe.Components.pdb
/NFe.Components/bin/Release/NFe.Components.dll.config
/NFe.Components/bin/Release/NFe.Components.dll
/NFe.Components/bin/Release/Newtonsoft.Json.xml
/NFe.Components/bin/Release/Newtonsoft.Json.dll
/NFe.ConvertTxt
/NFe.ConvertCFe
/NFe.Components.Wsdl
/NFe.Components.Info
/NFe.Service/bin/Release/Unimake.SAT.dll
/NFe.Service/bin/Release/NFe.Validate.pdb
/NFe.Service/bin/Release/NFe.Validate.dll
/NFe.Service/bin/Release/NFe.Settings.pdb
/NFe.Service/bin/Release/NFe.Settings.dll
/NFe.Service/bin/Release/NFe.Service.pdb
/NFe.Service/bin/Release/NFe.Service.dll
/NFe.Service/bin/Release/NFe.SAT.xml
/NFe.Service/bin/Release/NFe.SAT.pdb
/NFe.Service/bin/Release/NFe.SAT.dll
/NFe.Service/bin/Release/NFe.ConvertTxt.pdb
/NFe.Service/bin/Release/NFe.ConvertTxt.dll
/NFe.Service/bin/Release/NFe.Components.pdb
/NFe.Service/bin/Release/NFe.Components.Info.pdb
/NFe.Service/bin/Release/NFe.Components.Info.dll
/NFe.Service/bin/Release/NFe.Components.dll.config
/NFe.Service/bin/Release/NFe.Components.dll
/NFe.Service/bin/Release/NFe.Certificado.pdb
/NFe.Service/bin/Release/NFe.Certificado.dll
/NFe.Service/bin/Release/Newtonsoft.Json.xml
/NFe.Service/bin/Release/Newtonsoft.Json.dll
/NFe.Service/bin/Release/logounimake.png
/NFe.Service/bin/Release/itextsharp.xml
/NFe.Service/bin/Release/itextsharp.dll
/NFe.Threadings
/NFe.Settings
/NFe.Validate
/NFe.UI
/uninfe
/UniNFeServico/obj/Release
/uninfe_ws
/NFe.Service/obj/Debug
